{% extends "base.html" %}
{% from "pluseen/macro/create_pluseen.html" import create_pluseen %}

{% block content %}
    <h1 class="text-center">
        <div class="float-start">
            <a href="/" class="btn btn-light">
                <i class="fas fa-arrow-left" style="width: 16px; height: 16px;"></i>
            </a>
        </div>
        {% block title %}Pluseens{% endblock %}
    </h1>
    {% for pluseen in pluseens %}
        <div class="d-flex btn-group">
            <a href="/pluseen/{{ pluseen.name|quote }}" class="btn btn-secondary flex-grow-0 h-100 text-nowrap">{{ pluseen.created_at|time }}</a>
            <a href="/pluseen/{{ pluseen.name|quote }}" class="btn btn-primary flex-grow-1 h-100 text-nowrap" data-simplebar>{{ pluseen.name }}</a>
        </div>
    {% endfor %}
    <hr>
    <h5 class="text-center">Pluseen aanmaken</h5>
    {{ create_pluseen(pluseen_name, pluseen_description, error_msg) }}
{% endblock content %}
