{% extends "base.html" %}

{% block content %}
    <h1 class="text-center">
        <div class="float-start">
            <a href="/" class="btn btn-light">
                <i class="fas fa-arrow-left" style="width: 16px; height: 16px;"></i>
            </a>
        </div>
        {% block title %}Deelnemers{% endblock %}
    </h1>
    {% for deelnemer in deelnemers %}
        <div class="d-flex gap-2">
            <div class="bg-light flex-grow-1 text-center rounded-2 p-2 h-100 text-nowrap">{{ deelnemer.name }}</div>
        </div>
    {% endfor %}
{% endblock content %}
