{% extends "base.html" %}

{% block content %}
    <h1 class="text-center">
        <a href="/" class="btn btn-light float-start" style="margin-top: 0.5em; margin-right: -5em;"><i class="fas fa-arrow-left"></i></a>
        {% block title %}Deelnemers{% endblock %}
    </h1>
    {% for deelnemer in deelnemers %}
        <div class="d-flex gap-2">
            <div class="bg-light flex-grow-1 text-center rounded-2 p-2 h-100 text-nowrap">{{ deelnemer.name }}</div>
        </div>
    {% endfor %}
{% endblock content %}
