{% extends "base.html" %}
{% from "pluseen/macro/share_pluseen.html" import share_pluseen %}

{% block content %}
    <h1 class="text-center">
        <div class="float-start">
            <a href="/pluseen/{{ pluseen_name|quote }}" class="btn btn-light">
                <i class="fas fa-arrow-left" style="width: 16px; height: 16px;"></i>
            </a>
        </div>
        {% block title %}Pluseen delen{% endblock %}
    </h1>
    {{ share_pluseen(pluseen_name, pluseen_invitation) }}
{% endblock content %}
